Kairos_UI_GESEM/Connected Services/WhatsAppAPI/WhatsAppAPIs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TemplateBillingMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileNamePdf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileNameXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemplateBillingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TemplateBillingMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>